# Adapted from http://docs.haskellstack.org/en/stable/GUIDE/#travis-with-caching

# Use new container infrastructure to enable caching
sudo: false

# Choose a lightweight base image; we provide our own build tools.
language: c

# GHC depends on GMP. You can add other dependencies here as well.
addons:
  apt:
    packages:
    - libgmp-dev

os:
  - linux

# Caching so the next build will be fast too.
cache:
  directories:
  - $HOME/.stack

env:
  - RESOLVER=lts-3
  - RESOLVER=lts-5
  - RESOLVER=lts
  - RESOLVER=nightly

before_install:
# Using compiler above sets CC to an invalid value, so unset it
- unset CC
# Download and unpack the stack executable
- mkdir -p ~/.local/bin
- export PATH=$HOME/.local/bin:$PATH
- |
  if [ `uname` = "Darwin" ]
  then
    travis_retry curl --insecure -L https://www.stackage.org/stack/osx-x86_64 | tar xz --strip-components=1 --include '*/stack' -C ~/.local/bin
  else
    travis_retry curl -L https://www.stackage.org/stack/linux-x86_64 | tar xz --wildcards --strip-components=1 -C ~/.local/bin '*/stack'
  fi

install:
- if [ -f configure.ac ]; then autoreconf -i; fi
- |
  set -ex
  stack --no-terminal --install-ghc --resolver $RESOLVER test --pedantic --bench --only-dependencies
  set +ex

script:
- |
  set -ex
  stack --no-terminal --resolver $RESOLVER test --pedantic --bench --no-run-benchmarks --haddock --no-haddock-deps
  set +ex
